doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/moment.min.js")
    script(src="/javascripts/ion.sound.min.js")

  body
    block content
