extends layout

block content
  div.ticket
    header
      div.id
        strong New Ticket
    div.reply.base
      form(action='ticket/', method='post')
        input(type="text", name="description", placeholder="Please describe your issue", required="true").textbox.nosmoke
        input(type="submit", value="Send").btn.btn-lg.btn-success
